
*{
    border: 2px solid red;
    font-family: 'Roboto', sans-serif;
}

.flex{ 
    display: flex;
}

.main_title{
    align-items: baseline;
    margin-right: auto;
    flex-wrap: wrap;
}

/* .main_title h3{
    font-weight: 0;
} */

.resume_links{
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

/* .resume_link{
    font-weight: 500;
} */

body{
    flex-direction: column;
}

header {
    color: white;
    background-color: #1F2937;
}

main{
    flex-grow: 1;
}