
*{
    border: 2px solid red;
    font-family: 'Roboto', sans-serif;
}

.column{
    flex-direction: column;
}

.column *{
    justify-content: center;
    text-align: center;
}

header {
    color: white;
    background-color: #1F2937;
}

main{
    flex-grow: 1;
}

.flex{ 
    display: flex;
}

.main_title{
    align-items: baseline;
    margin-right: auto;
    flex-wrap: wrap;
}

.resume_links{
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.page_head{
    justify-content: center;
}

#inspiring_quote{
    align-items: stretch;
    justify-content: center;
    background-color: #e5e7eb;
}