
*{
    /* border: 2px solid red; */
    font-family: 'Roboto', sans-serif;
    /* margin: 0; */
    /* text-align: left; */
}

html, body{ height: 100%; }

header {
    color: white;
    background-color: #1F2937;
    padding: 10px 100px 100px 100px;
}



main{
    flex: 1;
}

.flex{ display: flex; }

.column{ flex-direction: column; }

/* '>' makes only direct children of column class take these attributes */
.column > *{
    justify-content: center;
    text-align: center;
}

#inspiring_quote{
    align-items: stretch;
    justify-content: center;
    background-color: #e5e7eb;
}

#main_images > *{
    border: 2px solid #3882f6;
    border-radius: 10px;
}

#main_title{
    align-items: stretch;
}

#page_head > *{
    justify-content: space-between;
}

#page_head_sub *{
    text-align: left;
}

#resume_links{
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}